body{
  margin:0;
  font-family:'Segoe UI', sans-serif;
  background: radial-gradient(circle at top, #00ffff22, #020617 60%);
  color:#e6ffff;
  text-align:center;
}
.container{
  max-width:420px;
  width:90%;
  margin:50px auto;
  padding:30px;
  border-radius:16px;
  background:#020617cc;
  box-shadow:0 0 30px #00ffff66;
}
h1{
  color:#00ffff;
  font-size:2em;
  text-shadow:0 0 15px #00ffff;
  margin-bottom:10px;
}
img.logo{
  width:120px;
  margin-bottom:20px;
  filter: drop-shadow(0 0 10px #00ffff);
}
input,button,select{
  width:100%;
  padding:12px;
  margin:10px 0;
  border-radius:10px;
  border:none;
  outline:none;
  font-size:15px;
}
input{
  background:#020617;
  color:#0ff;
  box-shadow:inset 0 0 8px #00ffff55;
}
button{
  background:#00ffff;
  color:#000;
  font-weight:bold;
  cursor:pointer;
  box-shadow:0 0 15px #00ffff;
}
#msg{
  color:#ff00ff;
  margin-top:10px;
  font-weight:bold;
}
#result{
  text-align:left;
  margin-top:15px;
  font-size:14px;
  white-space:pre-wrap;
}
